.create-area {
    background: #ffffff;
    min-height: 45vh;
    display: flex;
    justify-content: center;
}

.create-window {
    margin: 25px;
    min-width: 80%;
    border: 2px solid #e4e6e9;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dates-container input {
    min-width: 43%;
    height: 55px;
    margin: 15px;

}

.input-box {
    display: flex;
    align-items: center;
    height: 55px;
    margin: 15px;
    min-width: 43%;
    background: #fff;
    border: 1px solid #000000;
    padding-left: 0.5rem;
    overflow: hidden;
  }
  
  .input-box .prefix {
    font-weight: 300;
    font-size: 13px;
    color: #000;
  }

  #invNumber {
      border: none;
      outline:none;
  }

  #comment {
      width: 96%;
      height: 55px;
      margin-bottom: 70px;
  }

  #submit {
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 90px;
      height: 40px;
      background: #4973ff;
      color: #ffffff;
      border: 1px #4973ff solid;
      border-radius: 5px;
  }