.table-area {
    background: #ffffff;
    padding: 25px;
}
h3{
    text-align: start;
}
table {
    width: 100%;
    background: #ffffff;
    border-collapse: collapse;
}

th,td {
    font-size: small;
    height: 30px;
}
.table-head {
    background: #f1f3f6;
    color: #b2b8c5;
}
.table-item {
    padding: 15px;
    border-bottom: 2px solid #f1f3f6;
}