@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}




.App {
  text-align: center;
  background-color: #f1f3f6;
  font-family: 'Roboto', sans-serif;
  color: #a6adbb;
  font-weight: 600;
  padding: 25px;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.action-area {
  background: #ffffff;
  margin-bottom: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.action-area button{
  width: 90px;
  height: 40px;
  background: #4973ff;
  color: #ffffff;
  border: 1px #4973ff solid;
  border-radius: 5px;
}

h2 { 
  width:100%;
  text-align:start;
  border-bottom: 1px solid #e4e6e9;
  line-height:0.1em;
  margin:10px 0 20px;
}

h2 span { 
  background:#f1f3f6;
  padding:0 10px;
  border-left:6px solid #e4e6e9;
}
